.m2
go/agentkeystore
etc/go/agentkeystore
etc/go/cipher
etc/go/config.properties
etc/go/cruise-config.xsd
etc/go/jetty.xml
etc/go/jetty6.xml
etc/go/keystore
etc/go/log4j.properties
etc/go/truststore
var/lib/go-server/plugins/bundled/
var/lib/go-server/plugins/go-plugins-all.zip

etc/go/cruise-config.xml.*
var/lib/go-server/artifacts/cache/**
var/lib/go-server/artifacts/pipelines/**
